@{
    Layout = "_LayoutWaiters";
}

<main class="container">
    <!-- Mesa 1 -->
    <div class="table-card available">
        <div class="number-display">1</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 2 -->
    <div class="table-card occupied">
        <div class="number-display">2</div>
        <p>Ocupada</p>
    </div>
    <!-- Mesa 3 -->
    <div class="table-card available">
        <div class="number-display">3</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 4 -->
    <div class="table-card available">
        <div class="number-display">4</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 5 -->
    <div class="table-card occupied">
        <div class="number-display">5</div>
        <p>Ocupada</p>
    </div>
    <!-- Mesa 6 -->
    <div class="table-card available">
        <div class="number-display">6</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 7 -->
    <div class="table-card available">
        <div class="number-display">7</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 8 -->
    <div class="table-card occupied">
        <div class="number-display">8</div>
        <p>Ocupada</p>
    </div>
    <!-- Mesa 9 -->
    <div class="table-card available">
        <div class="number-display">9</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 10 -->
    <div class="table-card occupied">
        <div class="number-display">10</div>
        <p>Ocupada</p>
    </div>
    <!-- Mesa 11 -->
    <div class="table-card available">
        <div class="number-display">11</div>
        <p>Disponible</p>
    </div>
    <!-- Mesa 12 -->
    <div class="table-card available">
        <div class="number-display">12</div>
        <p>Disponible</p>
    </div>
</main>